body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.list li {
  display: flex;
  justify-content: space-between;
  background: #020617;
  border: 1px solid #334155;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.list a {
  color: #38bdf8;
  text-decoration: none;
}

.list button {
  background: #ef4444;
  color: white;
}
